server:
  port: 8086

spring:
  main:
    web-application-type: servlet
  application:
    name: control-plane-bff

control-plane:
  base-url: http://localhost:8085

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example.controlplanebff: INFO
    org.springframework.web: INFO



